:root {
  --scale: 0.8;
}

body {
  background-color: black;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

section > div {
  border: 3px solid rgb(60, 60, 60);
  background-color: rgb(10, 10, 10);
}

section > div[playing="true"] {
  border: solid rgb(20, 240, 240);
  background-color: rgb(45, 45, 45);
}

section > div[playing="false"] {
  border: 3px solid rgb(60, 60, 60);
  background-color: rgb(10, 10, 10);
}

section > div:hover:not(.invalid-video) {
  border: solid white;
  background-color: rgb(60, 60, 60);
}

section > div {
  max-height: calc(var(--scale)*58px);
  overflow: hidden;
  border-radius: calc(var(--scale)*5px);
  padding: calc(var(--scale)*6px);
  padding-bottom: calc(var(--scale)*2px);
  margin: calc(var(--scale)*15px);
}

div.invalid-video {
  background-color: black;
}

img.invalid-video {
  opacity: 0.3;
}

.cover-placeholder {
  background-color: rgb(30, 30, 30);
  margin: calc(var(--scale)*2px);
  margin-bottom: calc(var(--scale)*6px);
  margin-right: calc(var(--scale)*10px);
  width: calc(var(--scale)*50px);
  height: calc(var(--scale)*50px);
  float: left;
}

img {
  width: calc(var(--scale)*50px);
  float: left;
}

.fade {
  mask-image: linear-gradient(90deg, #000 70%, transparent);
}

h3.invalid-video, p.invalid-video {
  color: rgb(50, 50, 50);
}

h3, p {
  position: relative;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  margin: calc(var(--scale)*2px);
}

h3.asian {
  top: calc(var(--scale)*-6px);
}

p.asian {
  top: calc(var(--scale)*-10px)
}

h3 {
  font-size: calc(var(--scale)*24px);
  top: 0;
  left: 0;
  color: white;
  font-family: Helvetica, sans-serif;
}

p {
  font-size: calc(var(--scale)*16px);
  top: calc(var(--scale)*0px);
  left: 0px;
  color: rgb(200, 200, 200);
  font-family: Helvetica, sans-serif;
}